<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Preguntas frecuentes</title>
 <link rel="stylesheet" href="./style.css">
 <link rel="stylesheet" href="./p.css">
</head>
<body>

 <style>
  body {
   background-color:darkcyan;
  }
 </style>

 <div class="containerr">
  <div class="row">
   <div class="containerr-faq">
    <div class="title-faq">
     <h3>Preguntas Frecuentes</h3>
    </div>

    <div class="item-faq">
     <div class="question">
      <h3>cuanto es descuento que se optine por reservar pasaje ? <span>1</span></h3>
      <div class="more"><i>+</i></div>
     </div>
     <div class="answer">
      <p>se obtine un 10% si la cantidad de reserva es mayor a 5<span>R</span></p>
     </div>
    </div>

    <div class="item-faq">
     <div class="question">
      <h3>Se puede cancelar una reserva ? <span>2</span></h3>
      <div class="more"><i>+</i></div>
     </div>
     <div class="answer">
      <p> Si simpre y cuando se haga con anticipacion para evitar inconvenientes con la reserva de pasaje<span>R</span>
      </p>
     </div>
    </div>

    <div class="item-faq">
     <div class="question">
      <h3>Puedo hacer un reserva por llamado telofonica? <span>3</span></h3>
      <div class="more"><i>+</i></div>
     </div>
     <div class="answer">
      <p>si se puede haciendo clip en parte inferior de la reserva.<span>R</span></p>
     </div>
    </div>

    <div class="item-faq">
     <div class="question">
      <h3>En caso de olvidar mi contraseña puedo recuperarlo? <span>4</span></h3>
      <div class="more"><i>+</i></div>
     </div>
     <div class="answer">
      <p>
       si se puede haciendo clip en el apartado de recuperar contraseña la cual le pedira su correo de inicio de session para enviarle su contraseña.<span>R</span>
      </p>
     </div>
    </div>

    <div class="item-faq">
     <div class="question">
      <h3>Si soy menor de edad puedo realizar una reserva? <span>5</span></h3>
      <div class="more"><i>+</i></div>
     </div>
     <div class="answer">
      <p> no debido que al momento de registrarse debe ser una persona mayor de edad .<span>R</span>
      </p>
     </div>
    </div>

   </div>
  </div>
 </div>

 <script src="./scripts.js"></script>
</body>
</html>
